// 
// Colors
// 

// Override Bootstrap color systel colors

// $blue: #45c87b;
// $purple: #8bdea8;

$blue: #45c87c;
$purple: #6dd893;

// Override Bootstrap default state colors

$primary: $blue;
$secondary: $purple;
